/* Website light and dark theme colors */

html[data-theme="dark"] {
    --pst-color-secondary: #a134eb;
    --pst-color-primary: #4385be;
    --pst-color-link-hover: #fcfaf2;
    --pst-color-primary-highlight: #CECDC3;
    --pst-color-background: #100F0F;
    --pst-color-on-background: #1C1B1A;
    --pst-color-surface: #282726;
    --pst-color-on-surface: #CECDC3;
    --pst-color-text-base: #CECDC3;
    --pst-color-text-muted: #CECDC3;
    --pst-color-heading-color: #CECDC3;
    --pst-color-border: #1C1B1A;
    --pst-color-panel-background: #1C1B1A;
    --output-bg-color: #343331;
    --tutorial-category-get-started: #1a5c85;
    --tutorial-category-probing: #4e5d93;
    --tutorial-category-steering: #614183;
    --tutorial-category-causal: #7d3484;
}

html[data-theme="light"] {
    --output-bg-color: #d8ebfb;
    --pst-color-primary: #4385be;
    --pst-color-secondary: #ce5d97;
    --pst-color-primary-highlight: #ce5d97;
}


/* Notebook h1 section heading styles */
.nb-heading {
    margin-top: 2.5rem;
}

/* Remove the shadow on the pydata navbar */
.bd-header {
    box-shadow: none !important;
}

/* Hide the theme version note at the bottom of the page */
.theme-version {
    visibility: hidden;
}

/* code cell output */
.output_area {
    background-color: var(--output-bg-color);
    margin-left: 10px !important;
}

/* Coloring, mostly for buttons */
.primary {
    background-color : var(--pst-color-primary) !important;
    border-color : var(--pst-color-primary) !important;
    color: var(--pst-color-background) !important;
}

.secondary {
    background-color : transparent !important;
    border-color : #878580 !important;
    color: #878580 !important;
}

.secondary:hover {
    background-color : transparent !important;
    border-color : var(--pst-color-on-surface) !important;
    color: var(--pst-color-on-surface) !important;
}

.bd-sidebar h2.sidebar-title {
    font-weight: bold !important;
}